<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="background: linear-gradient(to right , #007991,#78ffd6)">
<nav th:replace="~{layout::nav-bar}"></nav>

<div class="container mx-auto w-50 mt-5">
    <div class="text-center">
        <h3 class="text-light">ADD</h3>
    </div>
    <div class="mt-5 mb-5">
        <form method="post" action="/save" th:object="${test}" class="text-light mb-3">
            <div class="row mt-3">
                <div class="col-lg-3">
                    <span>Tiêu đề: </span>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" th:field="*{id}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <span>Thể Loại: </span>
                </div>
<!--                <div class="col-lg-9">-->
<!--                    <select class="form-select" th:field="*{category}">-->
<!--                        <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.category}"></option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <span>Tóm tắt: </span>
                </div>
                <div class="col-lg-9">
                    <input type="text"  class="form-control" th:field="*{name}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <span>Nội dung: </span>
                </div>
                <div class="col-lg-9">
                    <textarea  class="form-control" th:field="*{name}"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <span>Tác giả: </span>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" th:field="*{name}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <button type="submit" class="btn btn-light">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>




<div th:replace="~{layout::footer}"></div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>