<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Tên</th>
            <th>giá</th>
            <th>số lượng</th>
        </tr>
        <tr th:each="product:${cart.keySet()}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${cart.get(product)}"></td>
        </tr>
        <tr>
            <td>Tổng tiền:</td>
            <td th:text="${total}"></td>
            <td>VND</td>
        </tr>
    </table>
</div>
</body>
</html>