<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container w-75 mx-auto mt-5" >
    <a href="/add"><btton class="btn btn-outline-success">Add new user</btton></a>
    <table class="table table-hover mt-5">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Day of birth</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        <tr th:each="user,status:${users}">
            <td th:text="${users.number*users.size + status}"></td>
            <td>
                <span th:text="${user.firstName}"></span>
                <span> </span>
                <span th:text="${user.lastName}"></span>
            </td>
            <td th:text="${user.dayOfBirth}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>